/* styles.css */
.small-calendar .fc {
   font-size: 0.3em;
}

.small-calendar .fc-toolbar {
   font-size: 0.4em;
}

.small-calendar .fc-header-toolbar {
   font-size: 0.4em;
}

.small-calendar .fc-view-harness {
   max-width: 300px;
   margin: 0 auto;
}
