cvlib==0.2.7
cvzone==1.6.1
cycler==0.12.1
firebase-admin==6.5.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
joblib==1.4.2
mediapipe==0.10.14
matplotlib==3.9.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pip==24.1.2
Pillow==10.2.0
pandas==2.2.2
requests==2.32.3
plyer==2.1.0

